<p>
    Nav Bar: 
    <%= link_to 'Home', '/external/home' %>
    <%= link_to 'About Us', '/external/about' %>
    <%= link_to 'Events', '/external/events' %>
    <%= link_to 'Contact Us', '/external/contact' %>
</p>