
    <link rel="stylesheet" href="about.css">

    <div class="top-section">

      <div class="site-wrapper-inner">

        <div class="container">

          <div class="inner main">
            <h1 class="title-text">About Us</h1>
            
              <a href="#" class="btn btn-lg section-button">Purpose</a>
              <a href="#" class="btn btn-lg section-button">Goals</a>
              <a href="#" class="btn btn-lg section-button">Membership</a>
              <a href="#" class="btn btn-lg section-button">What We Do</a>
            </p>
          </div>

        </div>
        <div class="down-button">
        Scroll Down
        </div>
      </div>


    </div>
    <div class="description-section">
        <div class="desc-box">
            <div class="desc-header">

                Purpose
            </div>
            <div class="desc-text">
                The purpose of this organization shall be to advocate for maternal and child public health-related issues for all students.
            </div>
        
        
        </div>
        <div class="desc-box">
            <div class="desc-header">

                Goals
            </div>
            <div class="desc-text">
                The goal will be to enhance the quality and scope of maternal and child public health by educating students and providing them with opportunities to impact the community positively.
            </div>
        
        
        </div>
        <div class="desc-box">
            <div class="desc-header">

                Membership
            </div>
            <div class="desc-text">
                Membership is open to any Aggie (undergraduate or graduate/ any concentration). Dues are $15 one time.
            </div>
        
        
        </div>
        <div class="desc-box">
            <div class="desc-header">

                What We Do
            </div>
            <div class="desc-text">
                Things we do include - Field Trips
                Volunteering
                Book Club
                Guest Speakers
                Donation Drives
                Profit Shares
                Craft Events
                Socials
                Research Opportunities
                Certificate Opportunities
            </div>
        
        
        </div>
    </div>