<%= stylesheet_link_tag "faq" %>

<body>
  <div class="container">
    <div class="box">
      <h1>Frequently Asked Questions</h1>
      <div class="faq-box accordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
              Why can't I view member pages?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              If you cannot see the member section of the navigation bar, your account does not have permissions to view it yet. <br><br>To recieve permissions
              please notify an officer in the organization who is an administrator on the website. <br><br> They will have to change your permissions to member to view any
              of the member pages. (Most officers should be an administrator)
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              Why can't I view administrator pages?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              If you cannot see the admin section of the navigation bar, your account does not have permissions to view it yet. <br><br>To recieve permissions
              please notify an officer in the organization who is an administrator on the website. <br><br> They will have to change your permissions to admin to view any
              of the admin pages. (Most officers should be an administrator)
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              How can I contact the organization?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
              To contact the organization, head to the <b>contacts page</b>. There is an email button to contact the organization.
              <br><br>Social media buttons can also be found on at the bottom of the contacts page for additional methods to reach the
              organization.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
              How can I register for an account?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
            <div class="accordion-body">
              There are currently two ways to create an account on the website. We recommend using google to create an account
              for better security.
              <br>
              <br>
              Using your google account:
              <ul>
                <li> Head to the <b>login page</b> on the navigation bar or menu. </li>
                <li> Click on the '<b>Sign in with Google</b>' button. </li>
                <li> Select the desired account to be connected. </li>
              </ul>
              To register for an account on this website:
              <ul>
                <li> Head to the <b>signup page</b> on the navigation bar or menu. </li>
                <li> Fill out all fields.</li>
                <li> Click on the '<b>Signup</b>' button to create an account. </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
              Why does my profile picture not change?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
            <div class="accordion-body">
              Profile pictures can only be set when you first create an account with google. To change 
              the profile picture, you must cancel the account and reregister after changing the picture on google.
              Cancelling an account will delete all of the attendence data.
              <br><br>
              Click 
              <a class="pink-link" href="https://support.google.com/mail/answer/35529?hl=en&co=GENIE.Platform%3DDesktop"> here</a> 
               for instructions on changing your google profile picture.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
              How can I change my password?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
            <div class="accordion-body">
              There are two ways you can change your password for an account on this website. <br> <br>
              If you have forgotten your password:
              <ul>
                <li> Head to the <b>login page</b> on the navigation bar or menu. </li>
                <li> Click on the '<b>Forgot Password?</b>' link. </li>
                <li> Fill out your email associated to the account. </li>
                <li> Click the '<b>Continue</b>' button. </li>
                <li> An email will be sent to that email with a link to reset the password. </li>
                <li> If the email is not in your inbox, check if it was sent to the spam folder. </li>
              </ul>
              If your logged in with a non google account:
              <ul>
                <li> Click on the <img src="/assets/person.svg" alt="person" width="20" height="20"> icon on the navigation bar or menu. </li>
                <li> Select '<b>Manage Account</b>'. </li>
                <li> There will be an '<b>Update Password</b>' section of the form. </li>
                <li> Fill out the new password, password confirmation, and current password.</li>
                <li> Click '<b>Update</b>' </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven">
              Where can I find other members?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSeven">
            <div class="accordion-body">
              To see a list of the members registered on this website, you must be logged into an account that is a 
              member, administrator, or alumni. 
              <ul>
                <li> Click on '<b>Member</b>' on the navigation bar or menu. </li>
                <li> The dropdown menu option '<b>Contact list</b>' will contain all members listed. </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false" aria-controls="panelsStayOpen-collapseEight">
              How can I attend an event?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingEight">
            <div class="accordion-body">
              To see a list of the members registered on this website, you must be logged into an account that is a 
              member or administrator. 
              <ul>
                <li> Click on '<b>Member</b>' on the navigation bar. </li>
                <li> The dropdown menu option '<b>Attend an Event</b>' will contain a list of events. </li>
                <li> Inputting the correct password will log your attendance for that specific event. </li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingNine">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="false" aria-controls="panelsStayOpen-collapseNine">
              Where can I find event attendance for a specific event?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingNine">
            <div class="accordion-body">
              As an admin a list of attendees for each event can be seen in the 'Manage Events' section. Select the 'Show Attendence' 
              button to see the list for the event the button is in.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTen" aria-expanded="false" aria-controls="panelsStayOpen-collapseTen">
              Where can I find event attendance for an individual member?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTen">
            <div class="accordion-body">
              As an admin a list of events attended by a certain member can be checked through the 'Manage Members' page. 
              Click on that member's points to be taken to the list of attended events of that member.
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>