<!DOCTYPE html>
<html>
   <head>
      <%= stylesheet_link_tag "home" %>

      <title> Home Page </title>
   </head>
   <body>
      <div class = "container">
         <div>
            <img class="image" src="/assets/mchso-logo.png" alt="logo">
         </div>
         <div>
            <h1> Welcome to the Maternal and Child Health Student Organization </h1>
         </div>
      </div>

      </div>
         <p>Welcome blurb, summary of the history and basic information of the org. </p>
      <div>
      
   </body>
</html>
