<!DOCTYPE html>
<html>
   <head>
      <%= stylesheet_link_tag "home" %>

      <title> Home Page </title>
      <style>
         
      </style>
   </head>
   <body>
      <%= render "nav_bar" %>
      <div class = "container">
         <div>
            <img class="image" src="/assets/mchso-logo.png" alt="logo" width="50" height="50">
         </div>
         <div class = "text">
            <h1>
               Welcome to the Maternal and Child Health Student Organization
            </h1>
         </div>
      </div

      </div>
         <p>Home page stuff goes here</p>
      <div>

   </body>
</html>
