<!DOCTYPE html>
<html>
   <head>
      <%= stylesheet_link_tag "home" %>

      <title> Home Page </title>
   </head>
   <body>
      <div class = "container">
         <div class="box">
            <div>
               <img class="image" src="/assets/mchso-logo.png" alt="logo">
            </div>
            <div>
               <h1> <%= @page['title'] %> </h1>
            </div>
         <div>
      </div>

      </div>
         <p> <%= @page['blurb'] %> </p>
      <div>

   </body>
</html>