<h1>Attend an Event</h1>

<h2>Events Today</h2>

<% if @events_today.length > 0 %>
    <% @events_today.each do |event| %>
      <%= render :partial => 'event_card', :locals => {
        :event_id => event.id,
        :event_name => event.event_name,
        :event_date => event.date,
        :event_description => event.description,
        :passcode => true,
        :edit => false
        } %>
    <% end %>
<% else %>
  <p>No Events</p>
<% end %>

<h2>Upcoming Events</h2>

<% if @upcoming_events.length > 0 %>
  <% @upcoming_events.each do |event| %>
    <%= render :partial => 'event_card', :locals => {
      :event_id => event.id,
      :event_name => event.event_name,
      :event_date => event.date,
      :event_description => event.description,
      :passcode => false,
      :edit => false
      } %>
  <% end %>
<% else %>
  <p>No Upcoming Events</p>
<% end %>