<h1>Members Contact Information</h1>
<table>
  <thead>
    <th>Picture</th>
    <th>Name</th>
    <th>Member Status</th>
    <th>Email</th>
  </thead>
  <tbody>
    <% @members.each do |user| %>
      <tr id=<%= "member_row_#{user.id}" %>>
        <td>(picture)</td>
        <td><%= get_name(user) %></td>
        <td><%= get_user_status(user) %>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

