<%= stylesheet_link_tag "events" %>

<body>
  <div class="container">
    <div class="box">
      <div class="center">
        <h1>New Event</h1>

        <%= render 'form', event: @event %>

        <%= link_to 'Back', events_path, class: 'black_button' %>
      </div>
    </div>
  </div>
</body>
