/* css for buttons and links */

/* pink button */
.pink_button {
  background-color: #ff7c93;
  border: 0;
  width: 100%;
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 3px;
  box-shadow: 3px 2px 5px #00000040;
}

.pink_button:link {
  text-decoration: none;
}

.pink_button:hover {
  color: white;
  background-color: #ff7c9390;
}

/* black button */
.black_button {
  background-color: #000000;
  border: 0;
  width: 100%;
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 3px;
  box-shadow: 3px 2px 5px #00000040;
}

.black_button:link {
  text-decoration: none;
  color: white;
}

.black_button:hover {
  color: white;
  background-color: #00000090;
}

/* links */
.link {
  color: #747474;
  text-decoration: none;
  font-size: 12px;
}

.link:hover {
  color: #ff7c93;
}
