/* css for buttons and links */

/* pink button */
.pink_button {
  background-color: #ff7c93;
  border: 0;
  width: 180px;
  border-radius: 15px;
  color: white;
  text-align: center;
  padding: 3px;
  box-shadow: 3px 2px 5px #00000040;
  margin-top: 0.5rem;
}

.pink_button:link {
  text-decoration: none;
}

.pink_button:hover {
  color: white;
  background-color: #ff7c9390;
}

/* black button */
.black_button {
  background-color: #000000;
  border: 0;
  width: 180px;
  border-radius: 15px;
  color: white;
  text-align: center;
  padding: 3px;
  box-shadow: 3px 2px 5px #00000040;
}

.black_button:link {
  text-decoration: none;
  color: white;
}

.black_button:hover {
  color: white;
  background-color: #00000090;
}

/* links */
.link,
a {
  color: #545454;
  text-decoration: none;
  font-size: 14px;
}

.link:hover,
a:hover {
  color: #ff7c93;
}

/* pink links */
.pink-link {
  color: #ff7c93;
  text-decoration: none;
}

.pink-link:hover {
  color: #747474;
}
