@import url("./components/buttons.css");
@import url("./components/fancy_headers.css");

.event_card {
  width: 75%;
  background-color: #f5d7cd;
  border: 1px black solid;
  border-radius: 2rem;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 13px;
}

.event_card h1 {
  font-size: 2.5rem;
}

.event_card h2 {
  font-size: 1.5rem;
}

.split-header {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.split-left {
  flex: 1;
  text-align: left;
}

.split-right {
  flex: 1;
  text-align: right;
}

.password-box {
  width: 24%;
  flex-direction: column;
}
