@import url("./components/buttons.css");
@import url("./components/forms.css");
@import url("./components/containers.css");
@import url("./components/fancy_headers.css");
@import url("./components/event_cards.css");

.show_event {
  width: 100%;
  display: block;
  justify-content: start;
}
