@import url("./components/containers.css");
@import url("./components/fancy_headers.css");

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  flex-basis: 40%;
  height: auto;
  order: 2;
}
