.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  flex-basis: 40%;
  width: 20vw;
  height: auto;
  order: 2;
}

h1 {
  padding-left: 2vw;
  font-size: 4vw;
  /* color: #CD5C5C; */
  /* font: italic 20px "Fira Sans", serif; */
}
