@import url("./components/containers.css");
@import url("./components/fancy_headers.css");
@import url("./components/buttons.css");
@import url("./components/forms.css");
@import url("./components/member_table.css");

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
   padding: 2%;
   border:none;
}

.no-results{
   font-family: 'Roboto';
   font-size: 200%;
}

.input-group {
   position: relative;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-evenly;
   align-content: center;
   padding-bottom: 4%;
   height:auto;
   margin:none;
}

.table-avatar {
   text-align: center;
   width:fit-content;
}

.search-bar {
   /* width:50vw; */
   padding-top:8px;
   padding-left:2%;
   padding-right:2%;
   width:100%;
}

tr:hover {background-color: #f5d7cd;}


/* sizing for mobile */
@media (max-width: 768px) {
   th, td {
      font-size: .72rem;
   }

   .rounded-circle {
      max-width: 30px;
      max-height: 30px;
   }

   .input-group {
      width: 250px;
   }
 }
 
 /* sizing for tablet */
 @media (min-width: 769px) {
   th, td {
      font-size: 1rem;
   }

   .rounded-circle {
      max-width: 40px;
      max-height: 40px;
   }

   .input-group {
      width: 700px;
   }

   .search-bar {
      width:70%;
   }

 }
 
 /* sizing for small desktop */
@media (min-width: 992px) {
   .input-group {
      width: 900px;
   }
 }
 
 /* sizing for wide desktop */
 @media (min-width: 1200px) {
   .input-group {
      width: 1000px;
   }
 }

