@import url("./components/buttons.css");
@import url("./components/forms.css");
@import url("./components/containers.css");

h1,
h2,
h3,
h4 {
  font-family: "Sansita One";
}

/* Makes p surrounded by horizontal lines */
.horizontal_line {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px 0 10px;
}

.horizontal_line:before,
.horizontal_line:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
  color: #00000050;
}

.horizontal_line:before {
  margin-right: 10px;
}

.horizontal_line:after {
  margin-left: 10px;
}

/* new user container */
.new_user {
  width: 100%;
  padding: 0;
}
