@import url("./components/buttons.css");
@import url("./components/forms.css");

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: #f5d7cd;
}

h1,
h2,
h3,
h4 {
  font-family: "Sansita One";
}

/* Makes p surrounded by horizontal lines */
.horizontal_line {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px 0 10px;
}

.horizontal_line:before,
.horizontal_line:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
  color: #00000050;
}

.horizontal_line:before {
  margin-right: 10px;
}

.horizontal_line:after {
  margin-left: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  gap: 10px;
}

.box {
  padding: 60px 80px 60px 80px;
  background-color: #ffffff90;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 5px 2px 5px #00000020;
  gap: 10px;
}

.pink_button {
  background-color: #ff7c93;
  border: 0;
  width: 180px;
  border-radius: 15px;
  color: white;
  text-align: center;
  padding: 3px;
  box-shadow: 3px 2px 5px #00000040;
}

.pink_button:link {
  text-decoration: none;
}

.pink_button:hover {
  color: white;
  background-color: #ff7c9390;
}

.black_button {
  background-color: #000000;
  border: 0;
  width: 180px;
  border-radius: 15px;
  color: white;
  text-align: center;
  padding: 3px;
  box-shadow: 3px 2px 5px #00000040;
}

.black_button:link {
  text-decoration: none;
  color: white;
}

.black_button:hover {
  color: white;
  background-color: #00000090;
}

.link {
  color: #747474;
  text-decoration: none;
  font-size: 12px;
}

.link:hover {
  color: #ff7c93;
}

/* Form error field styling */
.field_with_errors {
  display: inline;
}

.center {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Form containers */
.new_user {
  width: 100%;
  padding: 0;
}

/* Keep checkbox small */
input[type="checkbox"] {
  width: auto;
  accent-color: #cdc6e7;
}

/* Make form fields uniform and fit the box */
textarea,
input,
select {
  width: 100%;
  border: none;
  border-radius: 15px;
  padding: 3px 12px;
}
