@import url("./components/containers.css");
@import url("./components/fancy_headers.css");
@import url("./components/buttons.css");

.table-class {
  border-collapse: separate;
  background-color: white;
  border-radius: 20px;
  margin: auto;
  border: 1px solid black;
  padding: 20px;
}

.caption-text {
  text-align: center;
  font-size: 22px;
}

.pink_button {
  margin-top: 0px;
}

.box {
  margin: 30px 30px 30px 30px;
}

.manage-container {
  padding: 50px;
}

/* sizing for mobile views */
/* collapse table to stack data items vertically */
@media (max-width: 825px) {
  .pink_button {
    width: 75px;
    font-size: 0.9em;
  }

  table {
    border: 0;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 1px solid grey;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    font-family: "Sansita One";
    float: left;
    font-weight: bold;
    font-size: .9em;
  }

  table td:last-child {
    border-bottom: 0;
  }

  table tr:last-child {
    border-bottom: 0;
  }
}
