<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%# Root icon %>
    <a class="navbar-brand" href="/">
        <img src="/assets/mchso-logo.png" alt="logo" width="50" height="50">
        MCHSO
    </a>

    <%# Nav bar toggler: for mobile site %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%# Main Nav Bar Buttons %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%# Home Page Button %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>

        <%# About Page Button %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/about">About Us</a>
        </li>
        
        <%# Events Page Button %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/view_events">Events</a>
        </li>

        <%# Contact Page Button %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/contact">Contact Us</a>
        </li>

        <% if current_user %>
          <%# Member Pages Dropdown List %>
          <% if member? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                MCHSO Member
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%# Profile Page Button %>
                <%# <li><a class="dropdown-item" href="/profile">My Profile</a></li>  %>
                
                <%# Member List Page Button %>
                <li><a class="dropdown-item" href="/members">Member List</a></li>
                
                <%# Divider %>
                <li><hr class="dropdown-divider"></li>
                
                <%# Attend Event Page Button %>
                <li><a class="dropdown-item" href="/attend">Attend an Event</a></li>
              </ul>
            </li>
          <% end %>

          <%# Admin Pages Dropdown List %>
          <% if admin? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                MCHSO Admin
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%# Manage Event Page Button %>
                <li><a class="dropdown-item" href="/events">Manage Events</a></li>
                
                <%# Manage Members Page Button %>
                <li><a class="dropdown-item" href="/manage_members">Manage Members</a></li>
                
                <%# Manage Pages Page Button %>
                <li><a class="dropdown-item" href="/manage_pages">Manage Pages</a></li>
              </ul>
            </li>
          <% end %>
        <% end %>

        <%# Login/Logout Buttons %>
        <form class="form-inline my-2 my-lg-0">
          <% if current_user %>
              <%= link_to "Edit Account", edit_user_registration_path, class: "btn btn-outline-dark my-2 my-sm-0 m-1" %>
              <%= link_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method: :delete, class: "btn btn-outline-dark my-2 my-sm-0 m-1" %>
          <% else %>
              <%= link_to "Login", new_user_session_path, class: "btn btn-outline-dark my-2 my-sm-0 m-1" %>
              <%= link_to "Create Account", new_user_registration_path, class: "btn btn-outline-dark my-2 my-sm-0 m-1" %>
          <% end %>
        </form>
      </ul>
    </div>
  </div>
</nav>
